.spisok {
    height: 370px;
    width: 700px;
    background-color: #ef9eaf;
    margin-left: 30%;
    margin-top: 10%
}

.spisok1, .spisok2, .spisok3, .spisok4, .spisok5{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 15px;
}

.num1, .num2, .num3, .num4, .num5 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #c66377;
    margin-left: 25px;
}

.num1color, .num2color, .num3color, .num4color, .num5color{
    color: #ffffff;
}

.spisok section {
    background-color: #c66377;
    margin-left: 0%;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-right: 25px;
}
.spisokapple{
    background-color: #9f354b;
    height: 100%;
    width: 150px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.spisokorange{
    background-color: #9f354b;
    height: 100%;
    width: 180px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.spisokpine{
    background-color: #9f354b;
    height: 100%;
    width: 213px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.spisokpear{
    background-color: #9f354b;
    height: 100%;
    width: 132px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.mylist{
    height: 1080px;
    width: 1100px;
    background-color: rgb(232, 231, 231);
    font-weight: 900;
    margin-left: 20%;
    margin-top: 5%;
}
.mylist header{
    font-size: 25px;
    margin-left: 100px;
 
}
.blue, .white, .lightblue {
    height: 75px;
    width: 900px;
    background-color: #a5ccdb;
    margin-left: 100px;
    display: flex;
    justify-content: left;
    align-items: center;    
}
.white{
    background-color: #e2e2e2;
}
.lightblue{
    background-color: #add9e6;
}
.cubik{
    margin-top: 35px;
    font-size: 75px;
    margin-left: 75px;
}
.cubikused{
    margin-top: 12px;
    font-size: 33px;
    margin-left: 75px;
}
.blue :nth-child(2), .white :nth-child(2), .lightblue :nth-child(2) {
    margin-left: 25px;
}
.blue :last-child, .white :last-child, .lightblue :last-child {
    margin-left: 65px;
    margin-top: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(171, 5, 5);

}
p{
    text-decoration: line-through;
    font-size: 32px;
}